.middle1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);

  border-radius: 10px;
  .nav4 {
    display: flex;
    height:10% ;
    p {
      color: #64748b;
      font-size: 12px;
      font-weight: 500;
    }
    align-items: center;
    justify-content: space-between;
    .side-profile {
      display: flex;
      align-items: center;
      margin: 2rem;
      .side-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1px;
        h4 {
          color: #0f172a;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    .icon {
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }
  }
  .input {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px 10px;
    justify-content: space-between;
    background-color: #f8fafc;
    input {
      border: none;
      outline: none;
      background-color: #f8fafc;
    }
    .input-icons {
      margin-right: 2rem;
    }
  }
  .lower-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    .images1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      img {
        width: 24px;
        height: 24px;
      }
      p {
        color: #94a3b8;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
