.post-wrap {
background: linear-gradient(red ,blue);
height: 100%;
width: 100%;
  .simon {
    flex-direction: column;
    width: 60%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 10px rgba(19, 24, 26, 0.663);
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 50%;
    border-radius: 10px;
    border-top: 2px solid rgb(8, 151, 176);

    .header {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .close {
        margin: 10px 10px;
      
        img {
          height: 40px;
          width: 40px;
        }
      }
      .side-profile {
        display: flex;
        align-items: center;
        margin: 2rem;
        .side-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 1px;
          h4 {
            color: #0f172a;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .textarea {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      height: 250px;
      border-bottom: 1px solid rgb(156, 156, 156);
      color: black;
      margin-bottom: 1px;
      input {
        font-weight: 600;
        justify-content: flex-start;
        font-size: 16px;
        width: 90%;
        right: 0;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.26);
        top: 0;
        left: 0;
        height: 40%;
      //   background-color: rgba(230, 230, 230, 0.898);
        outline: none;
        border-top: 2px solid rgb(41, 4, 251);
        border-radius: 10px;
      }
    }
    .footer {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin: auto;
      .btn {
        width: 40%;
        justify-content: flex-end;
        display: flex;
        margin: 10px 10px;
        position: fixed;
      }
      button {
        display: flex;
        background-color: blue;
        width: 20%;
        color: white;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}
