.container5{
   .commentArea{
      // background-color: #fff;
      border: none;
      input{
        height: 20vh;
        width: 80%;
        font-size: 18px;
        outline: none;

      }
   }
   .footer{
      display: flex;
      .btne{
         button{
            display: flex;
            background-color: #9b0d0d;
            
          
         }
      }
   }
}