.timeline-page {
  display: flex;
  flex-direction: column;
  // width: 831px;
  width:100%;
 
  // margin: auto;
  background-color: aliceblue;
  overflow:scroll;

  .upper-timeline{
    display: flex;
    border:2px solid red;
    width:95%;
    flex-wrap:wrap;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    margin: 10px 10px;
  }
  .middle-timeline {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:95%;
    margin: 10px 10px;
    border-radius: 10px;
  }
  .lower-timeline {
    width: 100%;
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .timeline-page{
    width: 100%;
    // margin: auto;
    overflow-y: scroll;
  }
}