.group-container{
    width:100%;
    
    .group-title{
        display:flex;
        align-items: center;
        justify-content: space-between;

        .groups{
            font-weight: bolder;
            font-weight:700;
            color:rgba(121, 121, 121,0.6);
            text-transform: uppercase;
            font-size:14px;
        }

        span:nth-child(2){
            color:blue;
            font-weight:700;
            font-size:14px;
        }
    }
    
    .group-list{
        display: flex;
        flex-direction:column;
        justify-content: center;
        // align-items: center;
        flex-wrap:wrap;
        padding:12px;
        gap:10px;
   
        

        .group-item{
            display:flex;
            align-items:center;
            // justify-content: space-between;
            gap:12px;

            img{
                width:40px;
                height:40px;
                border-radius:50%;

            }
            span{
                font-weight:bolder;
            }
        }
    }


    @media(max-width:1024px){
        .group-list{
        
            .group-item{
                width:100%;
            }
        }
    }

}